@{
    ViewData["Title"] = "Fitness Application";
}

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>@ViewData["Title"] </h1>
            <p>
                Register for a fitness class, view the available classes
            </p>
            <p>
                or review classes you have signed up for
            </p>
        </div>
    </div>
</body>
<a class="btn btn-primary" asp-action="RegistrationIndex" asp-controller="RegistrationRecords">Your Registrations</a>